version: "3.9"

services:
  node:
    build:
      context: ./build/node
    restart: always
    tty: true
    stdin_open: true
    command: bash
    environment:
    - NODE_ENV=development
    networks:
    - default
    ports:
    - "6000:3000"
    secrets:
    - postgres-db
    - postgres-username
    - postgres-password
    volumes:
    - "./app/node:/app"

  postgres:
    image: postgres:latest
    restart: always
    environment:
    - POSTGRES_DB_FILE=/run/secrets/postgres-db
    - POSTGRES_USER_FILE=/run/secrets/postgres-username
    - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-password
    networks:
    - backend
    ports:
    - "6010:5432"
    secrets:
    - postgres-db
    - postgres-username
    - postgres-password
    volumes:
    - "postgres-data:/var/lib/postgresql/data"



networks:
  backend:
  frontend:



secrets:
  postgres-db:
    file: ./secrets/postgres-db
  postgres-username:
    file: ./secrets/postgres-username
  postgres-password:
    file: ./secrets/postgres-password



volumes:
  postgres-data:
